

body {
	background-color: #95c2fd;

}

.barbie404 {
	font-size: 16px;
	font-family: sans-serif;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	text-align: center;
}
.container {
	width: 100%;
	border: solid #246294;
}

.userBallon {
  box-sizing: border-box;
  float: right;
  width: auto;
  max-width: 80%;
  position: relative;
  clear: both;
	font-family: sans-serif;

  background: #95c2fd;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.15, #bee2ff), color-stop(1, #95c2fd));
  background-image: -webkit-linear-gradient(bottom, #bee2ff 15%, #95c2fd 100%);
  background-image: -moz-linear-gradient(bottom, #bee2ff 15%, #95c2fd 100%);
  background-image: -ms-linear-gradient(bottom, #bee2ff 15%, #95c2fd 100%);
  background-image: -o-linear-gradient(bottom, #bee2ff 15%, #95c2fd 100%);
  background-image: linear-gradient(bottom, #bee2ff 15%, #95c2fd 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#95c2fd', endColorstr='#bee2ff');

  border: solid 1px rgba(0,0,0,0.5);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;

  -webkit-box-shadow: inset 0 8px 5px rgba(255,255,255,0.65), 0 1px 2px rgba(0,0,0,0.2);
  -moz-box-shadow: inset 0 8px 5px rgba(255,255,255,0.65), 0 1px 2px rgba(0,0,0,0.2);
  box-shadow: inset 0 8px 5px rgba(255,255,255,0.65), 0 1px 2px rgba(0,0,0,0.2);
  margin-bottom: 20px;
  padding: 6px 20px;
  color: #000;
  text-shadow: 0 1px 1px rgba(255,255,255,0.8);
  word-wrap: break-word;
}

.userBallon2 {
  box-sizing: border-box;
  float: left;
  width: auto;
  max-width: 80%;
  position: relative;
  clear: both;
	font-family: sans-serif;

	background: #7acd47;
background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0.15, #fcf3c3),color-stop(1, #f4e371));
background-image: -webkit-linear-gradient(bottom, #fcf3c3 15%, #f4e371 100%);
background-image: -moz-linear-gradient(bottom, #fcf3c3 15%, #f4e371 100%);
background-image: -ms-linear-gradient(bottom, #fcf3c3 15%, #f4e371 100%);
background-image: -o-linear-gradient(bottom, #fcf3c3 15%, #f4e371 100%);
background-image: linear-gradient(bottom, #fcf3c3 15%, #f4e371 100%);
filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#f4e371', endColorstr='#fcf3c3');

  border: solid 1px rgba(0,0,0,0.5);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;

  -webkit-box-shadow: inset 0 8px 5px rgba(255,255,255,0.65), 0 1px 2px rgba(0,0,0,0.2);
  -moz-box-shadow: inset 0 8px 5px rgba(255,255,255,0.65), 0 1px 2px rgba(0,0,0,0.2);
  box-shadow: inset 0 8px 5px rgba(255,255,255,0.65), 0 1px 2px rgba(0,0,0,0.2);
  margin-bottom: 20px;
  padding: 6px 20px;
  color: #000;
  text-shadow: 0 1px 1px rgba(255,255,255,0.8);
  word-wrap: break-word;
}



.titleBarbie {
	font-family: Verdana;
	color: purple;
	font-size: 2em;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50
}
.extChat {
	border-radius: 15px;
	background-color: pink;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	background-color: white;
	height: 420px;
	width: 420px;
	border: solid 1px black;
	overflow: auto;
}

.chatbox {
	text-align: right;
	background-color: pink;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	background-color: white;
	height: 400px;
	width: 400px;
	overflow: auto;
}

.userinput {
	margin-left: auto;
	margin-right: auto;
	width: 400px;
}

.userMsg {
	margin-left: auto;
	margin-right: auto;
	width: 260px;
}

.botText {
	text-align: left;
}

.userText {
	text-align: right;
}
